@page
@model InjaAdmin.Pages.PointsReportTemplate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Template Mail Body</title>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
        }
        
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: center;
        }
        
        th {
          background-color: #f2f2f2;
        }
      </style>
</head>

<body>
///Asunto: Resultados del evento Nailympion Buenos Aires 2023 (este mensaje seria el asunto de cada mail)
<div>
    <p>
        Estimado/a {{Nombre del Participante}},
    </p>
    <p>
        ¡Esperamos que este mensaje te encuentre bien! Queremos agradecerte por haber participado en el evento Nailympion Buenos Aires 2023 y compartir los resultados obtenidos en cada competencia en la que participaste.</p>
    <p>  
        A continuación, encontrarás las tablas con los puntos obtenidos en cada competencia:
    </p>
    // foreach(challenges de un participante) {
    <table>
        <thead>
        <tr>
            <th rowspan="2">
                <img src="images/Inja-logox.png" alt="injaLogo"/>
            </th>
            <th colspan="7" class="challenge-title">
                {{Challenge.Title}}
            </th>
            <th>
                <img colspan="2" src="images/Nailympion-logo.png" alt="nailympionLogo"/>
            </th>
        </tr>
        <tr>
            <th>Buenos Aires / Argentina</th>
            <th>Fecha / Date</th>
            <th>{{Challenge.startdate}}</th>
            <th>Modelo / Model</th>
            <th colspan="2">{{Challange.modelName}}</th>
            <th>Division</th>
            <th>{{Division}}</th>
        </tr>
        <tr>
            <th>Nombre del Juez / Judge Name</th>
            <th>Criterio / Criteria</th>
            <th>Puntos Posibles / Possible Points</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Puntos Totales / Total Points</th>
            <th>Comentario / Comments</th>
        </tr>
        </thead>
        <tbody>
        // foreEach(event/challenge/criteria/points) {
        <tr>
            <td>{{JudgeName}}</td>
            <td>{{Criteria.title}}</td>
            <td>{{MaxScore}}</td>
            <td>{{slot1}}</td>
            <td>{{slot2}}</td>
            <td>{{slot3}}</td>
            <td>{{slot4}}</td>
            <td>{{slot5}}</td>
            <td>{{TotalScore}}</td>
            <td>{{Comments}}</td>
        </tr>
        // }
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>Puntos Totales / Total Score</td>
            <td>{{TotalPuntosPosibles}}</td>
            <td colspan="5"></td>
            <td>{{Total}}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    // }
    <p>
        Además, nos complace felicitarte por tu destacada participación y esfuerzo en el evento. Tus habilidades y dedicación fueron impresionantes y nos enorgullece contar con talentos como el tuyo.    
    </p>
    <p>
        Queremos aprovechar esta oportunidad para agradecer a todos los participantes por hacer del Nailympion Buenos Aires 2023 un evento inolvidable. Tu pasión y entusiasmo por la industria de las uñas han contribuido al éxito de esta competencia. 
    </p>
    <p>
        Si tienes alguna pregunta o inquietud sobre los resultados o cualquier otro aspecto relacionado con el evento, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte en todo lo que necesites.
    </p>
    <p>
        Una vez más, felicidades por tus logros y agradecemos tu participación en el evento Nailympion Buenos Aires 2023. Esperamos verte nuevamente en futuras competencias y seguir siendo testigos de tu talento.
    </p>
    <p>
        ¡Saludos cordiales!
    </p>
    <br/>
    <p>
        [Nombre del Organizador del Evento]
    </p>
    <p>
        [Nombre del Evento]
    </p>
    <p>
        [Información de contacto]
    </p>
</div>
</body>
</html>